<html>
  <head>
    <title>Invite from All I Want [for Christmas]</title>
  </head>
  <body>
    <p>
      Hi,
    </p>
    <p>
      <%= sharer %> has shared the list <em><%= listName %></em>  with you! Go to <a href="http://alliwant-ulloac.rhcloud.com/">All I Want</a> to make an account and view the shared list.
    </p>
    <p>
      Thank you,
      <br />
      the All I Want [for Christmas] Team
    </p>
  </body>
</html>