<html>
  <head>
    <title>Invite from All I Want [for Christmas]</title>
  </head>
  <body>
    <p>
      Hi <%= name %>,
    </p>
    <p>
      A gift you claimed on the list <em><%= listName %></em> belonging to <%= sharer %> has been modified. Go to <a href="http://alliwant-ulloac.rhcloud.com/">All I Want</a> to look at the changes to the list.
    </p>
    <p>
      Thank you,
      <br />
      the All I Want [for Christmas] Team
    </p>
  </body>
</html>
