<html>
  <head>
    <title>Invite from All I Want [for Christmas]</title>
  </head>
  <body>
    <p>
      Hi,
    </p>
    <p>
      The gift <%= giftName %> has been parially claimed amongst  <em><%= others %></em>. Please coordinate with each other to purchase the gift. Go to <a href= <%= listUrl %>></a> to check the details. 
    </p>
    <p>
      Thank you,
      <br />
      the All I Want [for Christmas] Team
    </p>
  </body>
</html>