<html>
  <head>
    <title>Invite from All I Want [for Christmas]</title>
  </head>
  <body>
    <p>
      Hi <%= name %>,
    </p>
    <p>
      Thanks for creating an account with <a href="http://alliwant-ulloac.rhcloud.com/">All I Want</a>. We hope you enjoy using it!
      <br />
    </p>
    <p>
      Thank you,
      <br />
      the All I Want [for Christmas] Team
    </p>
  </body>
</html>